@use "../../../../../styles/variables.scss" as v;

.section {
    position: relative;
    padding: 4.5rem 1.25rem;
    background-color: rgba(v.$purple, 0.2);
    scroll-margin-top: 3.75rem;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: calc(1.25rem + 4.5rem + 0.30rem);
        width: 2px;
        height: 100%;
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='4' stroke-dasharray='5%2c 15' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    }

    &::after {
        @include v.divider-btm
    }

    h2 {
        position: relative;
        width: fit-content;
        padding: 0.75rem 1.5rem;
        margin-bottom: calc(2rem + 0.75rem / 2);
        background-color: v.$white;
        border: 2px solid v.$black;

        &::before {
            content: "";
            position: absolute;
            top: calc(-0.75rem / 2);
            left: calc(-0.75rem / 2);
            width: 0.75rem;
            aspect-ratio: 1/1;
            background-color: v.$black;
            box-shadow: 0rem calc(4rem - 0.20rem) 0px v.$black;
        }

        &::after {
            content: "";
            position: absolute;
            top: calc(-0.75rem / 2);
            right: calc(-0.75rem / 2);
            width: 0.75rem;
            aspect-ratio: 1/1;
            background-color: v.$black;
            box-shadow: 0rem calc(4rem - 0.20rem) 0px v.$black;
        }
    }

    div {
        > ul {
            @include v.flex(column, 1.25rem);
    
            > li {
                @include v.grid-col(0.5fr 2fr, 3.25rem);
    
                h3 {
                    @include v.f18;
                    position: relative;
                    margin: 2rem 0px;
    
                    &::before {
                        content: "";
                        position: absolute;
                        left: 4.25rem;
                        top: 0.3rem;
                        width: 0.75rem;
                        aspect-ratio: 1/1;
                        background-color: v.$pink;
                        border: 3px solid v.$black;
                        border-radius: 50px;
                    }
                }
            }
        }
    }
    
    ul li ul {
        @include v.flex(column, 1.25rem)
    }
}

.card {
    @include v.flex(column, 0.7rem);
    padding: 1.25rem;
    max-width: 18.5rem;
    background-color: v.$white;
    border-radius: v.$radius-12;
    border: 1px solid v.$black;
    box-shadow: v.$box-shadow-basic;
    transition: v.$transition-basic;

    h4 {
        @include v.f16;
        line-height: 1.38rem;
    }

    p {
        &:first-of-type {
            @include v.f14;
            width: fit-content;
            padding: 0.25rem 0.75rem;
            background-color: v.$pink-wcag;
            border-radius: v.$radius-4;
            color: v.$white;
            border: 1px solid v.$black;
           
        }

        &:last-of-type {
            @include v.f14;
            font-style: italic;
        }

        &.heden {
            background-color: v.$blue-wcag ;
        }
    
        &.education {
            background-color: v.$yellow;
            color: v.$black;
            font-style: normal;
        }
      
    }

    &:focus-visible {
        @include v.focus-card;
    }
}


// Bron: https://codepen.io/xiao-nan-pols/pen/RwObwMX?editors=1100
@media (prefers-reduced-motion: no-preference) {
    .section ul li ul li {
        animation: scale-a-lil linear both;
        animation-timeline: view();
    }
}

@keyframes scale-a-lil {
    0%{
        scale: .8;
    }
    
    25%{
        scale: 1;
    }
}

@media (min-width: 576px) { 
    .section {
        &:before {
            left: calc(50% - 1.25rem * 3 - 0.75rem);
        }

        div {
            > ul > li {
                @include v.grid-col(1fr 1fr, 5rem);
        
                h3 {
                    text-align: right;
                    margin-right: calc(1.25rem * 3);
        
                    &::before {
                        left: calc(100% + 1.25rem);
                    }
                }
            }
        }

        ul li ul {
            margin-left: -3rem;
        }
    }
}

@media (min-width: 992px) { 
    .section {
        height: calc(40rem);
        &:before {
            background-image: none;
            // left: calc(66.7% - 6.2rem);
            // background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='6' stroke-dasharray='10%2c 30' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
        }

        h2 {
            margin-left: v.$media-padding-left;

            &::before, &::after {
                box-shadow: 0rem calc(5.5rem - 0.20rem) 0px v.$black;
            }
        }

        h4 {
            line-height: 1.5rem;
        }

        div {
            > ul {
                position: absolute;
                top: 0;
                right: 5%;
                padding: 3.75rem 0rem;
                width: fit-content;
                height: 40rem;
                overflow: auto;

                // Bron: https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp
                // Hide scrollbar for IE, Edge and Firefox
                -ms-overflow-style: none;  /* IE and Edge */
                scrollbar-width: none;  /* Firefox */

                &::-webkit-scrollbar {
                    display: none;
                }

                &::before {
                    content: "";
                    position: absolute;
                    left: calc(25% - 0.9rem);
                    top: 0;
                    width: 2px;
                    height: 230%;
                    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='6' stroke-dasharray='10%2c 30' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
                }

                > li {
                    grid-template-columns: 1fr 2fr;
        
                    h3 {
                        @include v.f34;
                        grid-column: 1/2;
                        margin-right: 4rem;
            
                        &::before {
                            width: 1.25rem;
                        }
                    }
                }
            }
        }

        ul li ul {
            margin-left: -5px;
        }
    }
}

@media (min-width: 1300px) { 
    .section {
        div {
            @include v.max-1300;

            > ul {
                right: 15%;
            }
        }
    }
}

@media (min-width: 1900px) {
    .section div > ul {
        right: 25%;
    }
}