@use "../../../../../../styles/variables.scss" as v;

.section {
    margin: 6.25rem 0px 10rem 0px;

    > ul:first-of-type {
        @include v.flex(row, 2rem);
        overflow: auto;
        margin: 0px -1.5rem 5px -1.5rem;
        padding: 0px 1.5rem 5px 1.5rem;
        scroll-snap-type: x mandatory;

        li {
            scroll-snap-align: center;
        }

        &:focus {
            outline: none;
        }

        // Bron: https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */

        /* Hide scrollbar for Chrome, Safari and Opera */
        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.article {
    position: relative;
    width: 17rem;
    height: fit-content;
    border: 1px solid v.$black;
    border-radius: v.$radius-12;
    background-color: v.$white;
    box-shadow: v.$box-shadow-basic;

    &:hover .overlay img {
        transform: scale(1.1);
    }

    a {
        @include v.flex(column, 0.5rem);
        padding: 1.25rem 1.25rem 2rem 1.25rem;
        transition: v.$transition-basic;

        &:focus-visible {
            @include v.focus-card;
        }
    }

    h3 {
        @include v.f22;
        margin-top: calc(0.75rem - 0.5rem);
        z-index: 1;
    }

    p {
        @include v.f14;
    }

    .overlay {
        order: -1;
        overflow: hidden;
        height: 14.5rem;
        border-radius: v.$radius-12;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: v.$radius-12;
            transition: v.$transition-basic;
        }
    }

    ul {
        @include v.flex(row, 0.75rem);
        flex-wrap: wrap;
        margin-top: calc(1.25rem - 0.5rem);

        li {
            @include v.tags-blue;
        }
    }
}


@media (prefers-reduced-motion: no-preference) {
    .section > ul:first-of-type li {
        animation:  animate-in-x linear forwards,
            animate-out-x linear forwards;
            animation-timeline: view(x);
            animation-range: entry, exit;
    }
}

@supports not (animation-timeline: view(x)) {
    .section > ul:first-of-type li {
        animation: none; /* Disable animations */
    }
}

@keyframes animate-in-x {
	0% { transform: translateX(1%) scale(0.8); }
	100% { transform: translateX(0) scale(1); }
}

@keyframes animate-out-x {
	0% { transform: translateX(0) scale(1); }
	100% { transform: translateX(-1%) scale(0.8); }
}

@media (min-width: 576px) { 
    @keyframes animate-in-x {
        0% { transform: translateX(1%) scale(0.25); }
        100% { transform: translateX(0) scale(1); }
    }
    
    @keyframes animate-out-x {
        0% { transform: translateX(0) scale(1); }
        100% { transform: translateX(-1%) scale(0.25); }
    }
}

@media (min-width: 768px) { 
    @keyframes animate-in-x {
        0% { transform: translateX(50%) scale(0); }
        100% { transform: translateX(0) scale(1); }
    }
    
    @keyframes animate-out-x {
        0% { transform: translateX(0) scale(1); }
        100% { transform: translateX(-50%) scale(0); }
    }
}

@media (min-width: 992px) { 
    .section {
        margin-bottom: 6rem;
    }

    .article {
        width: 29.5rem;

        a {
            padding: 1.25rem 3.25rem 2rem 3.25rem;
        }

        h3 {
            position: relative;
            margin-top: -2rem;
            margin-bottom: calc(1.25rem - 0.5rem);
            padding: 0.5rem 1.5rem;
            width: fit-content;
            background-color: v.$yellow;
            border-radius: v.$radius-12;
            box-shadow: 5px -5px 0px 0px v.$black;
            border: 2px solid v.$black;
        }

        p {
            @include v.f16;
        }

        .overlay {
            margin: 0px -2rem;
        }
    }

    @keyframes animate-in-x {
        0% { transform: translateX(1%) scale(0.6); }
        100% { transform: translateX(0) scale(1); }
    }
    
    @keyframes animate-out-x {
        0% { transform: translateX(0) scale(1); }
        100% { transform: translateX(-1%) scale(0.6); }
    }
}


@media (min-width: 1300px) {
    .section > ul > li:first-of-type {
        margin-left: 6.25rem;
    }
}

@media (min-width: 1900px) {
    .section {
        ul {
            li:first-of-type {
                margin-left: 0px;
            }
        }

        > ul:first-of-type {
            justify-content: center;
            flex-wrap: wrap;
        }
    }
}