@use "./variables" as v;
@use "./breakpoints" as b;

body {
	font-family: v.$font-stack;
	color: v.$black;

	&:has(.hamburger input:checked) {
		.open-menu {
			display: flex;
			top: 0;
			animation: show .8s ease-in forwards; 

			p {
				animation: show .8s ease-in forwards;
				animation-delay: 0.1s; 
			}

			section {
				animation: show 1s ease-in forwards;
				animation-delay: 0.2s;
			}

			.divider {
				animation: show .8s ease-in forwards;
				animation-delay: 0.3s;
			}

			> ul li {
				animation: show .8s ease-in forwards;

				&:nth-of-type(4) {
					animation-delay: 0.4s; 
				}

				&:nth-of-type(3) {
					animation-delay: 0.5s; 
				}

				&:nth-of-type(2) {
					animation-delay: 0.6s; 
				}

				&:nth-of-type(1) {
					animation-delay: 0.7s; 
				}
			}
		}
	}

	// Shift savy slider
	&:has(input[value="deka-1"]:checked) {
		.slider_dialog__92viS div {
			background-image: url("../../public/img/projects/deka.png");
		}
	}

	&:has(input[value="deka-2"]:checked) {
		.slider_dialog__92viS div {
			background-image: url("../../public/img/projects/deka-2.jpg");
		}
	}

	&:has(input[value="deka-3"]:checked) {
		.slider_dialog__92viS div {
			background-image: url("../../public/img/projects/deka-3.jpg");
		}
	}

	// Shift savy radio
	&:has(input[value="deka-1-radio"]:checked) {
		.radio_overlay__LoC0j div, .radio_dialog__7YhCp div {
			background-image: url("../../public/img/projects/deka.png");
		}
	}

	&:has(input[value="deka-2-radio"]:checked) {
		.radio_overlay__LoC0j div, .radio_dialog__7YhCp div {
			background-image: url("../../public/img/projects/deka-2.jpg");
		}
	}

	&:has(input[value="deka-3-radio"]:checked) {
		.radio_overlay__LoC0j div, .radio_dialog__7YhCp div {
			background-image: url("../../public/img/projects/deka-3.jpg");
		}
	}

	// Xiaoco ijs slider
	&:has(input[value="xiao-1"]:checked) {
		.slider_dialog__WEaJA div {
			background-image: url("../../public/img/projects/xiaoco-ijs.png");
		}
	}

	&:has(input[value="xiao-2"]:checked) {
		.slider_dialog__WEaJA div {
			background-image: url("../../public/img/projects/xiaoco-ijs-2.jpg");
		}
	}

	&:has(input[value="xiao-3"]:checked) {
		.slider_dialog__WEaJA div {
			background-image: url("../../public/img/projects/xiaoco-ijs-3.jpg");
		}
	}

	// Xiaoco ijs radio
	&:has(input[value="xiao-1-radio"]:checked) {
		.radio_overlay__p2GFP div, .radio_dialog__tLb84 div {
			background-image: url("../../public/img/projects/xiaoco-ijs.png");
		}
	}

	&:has(input[value="xiao-2-radio"]:checked) {
		.radio_overlay__p2GFP div, .radio_dialog__tLb84 div {
			background-image: url("../../public/img/projects/xiaoco-ijs-2.jpg");
		}
	}

	&:has(input[value="xiao-3-radio"]:checked) {
		.radio_overlay__p2GFP div, .radio_dialog__tLb84 div {
			background-image: url("../../public/img/projects/xiaoco-ijs-3.jpg");
		}
	}

}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	scroll-behavior: smooth;
} 

ul {
	list-style: none;
}

button {
	cursor: pointer;
}

a {
	text-decoration: none;
	color: v.$black;
}

p {
	@include v.f16;
}

// Bron: https://www.a11yproject.com/posts/how-to-hide-content/
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.divider {
	padding: 1px;
	height: 2px;
	background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='4' stroke-dasharray='15 20' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.sec-h2 {
	@include v.f34;
}

@keyframes show {
	from {
		opacity: 0;
		transform: translateY(20px); 
	}

	to {
		opacity: 1;
		transform: translateY(0px); 
	}
}

.dark-mode {
	background-color: v.$black-dm;

	// .header_header__w2BOs {
	// 	background-color: v.$gray-light-dm;
	// }

	.switch_switch__u2dPU:focus-visible {
		outline: v.$outline-white;
	}

	.open-menu {
		background-color: v.$black-dm;
		color: v.$white;

		a {
			color: v.$white;
		}
	}

	.hero_hero__rC9z4::before {
		background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='white' stroke-width='4' stroke-dasharray='5%2c 20' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
	}

	.hero_content__rw_5k {
		color: v.$white;
	}

	.thumbnail_article__kpdI4 {
		background-color: v.$purple-dark;
		box-shadow: v.$box-shadow-dm;
		border: 1px solid v.$white;

		a {
			color: v.$white;

			&:focus-visible {
				outline: v.$outline-white;
			}
		}
	}

	.experiences_section__nAflf {
		background-color: v.$gray-dm;

		&:before {
			background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='white' stroke-width='4' stroke-dasharray='5%2c 15' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
		}


		&:after {
			background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='white' stroke-width='4' stroke-dasharray='5%2c 15' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
		}

		h3 {
			color: v.$white;
		}

		.experience_section__rxl9N {
			background-color: v.$purple-dark;
			border: 1px solid v.$white;
			color: v.$white;

			&:focus-visible {
				outline: v.$outline-white;
			}
		}
	}

	.contact_section__Hgl1S {
		color: v.$white;

		form label input, form label textarea {
			background-color: v.$gray-light-dm;
		}

		input:focus-visible, textarea:focus-visible {
			outline: v.$outline-white;
		}

		input::placeholder, textarea::placeholder  {
			opacity: .9;
		}
	}

	.footer_footer__mQF6i div {
		background-color: v.$black-dm;

		color: v.$white;

		a {
			color: v.$white;
		}

		ul li a:focus-visible {
			outline: v.$outline-white;
		}
	}

	.divider {
		background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='white' stroke-width='4' stroke-dasharray='15 20' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
	}

	.btn_btn__8sp0s {
		box-shadow: 5px 5px 0px 0px v.$pink-dark;
	}

	.project_main__tcJLC {
		color: v.$white;

		a {
			color: v.$white;
		}

		.img_div__cff4N, .img_div__e9MqW {
			background-color: v.$purple-dark;
			border: 1px solid v.$white;
			box-shadow: v.$box-shadow-dm;

			&:focus-visible {
				outline: v.$outline-white;
			}
		}

		.project_content__noe1E {
			a:focus-visible, video:focus-visible {
				outline: v.$outline-white;
			}
		}
	}

	.radio_section__t1g4R form label {
		&:focus-visible {
			outline: v.$outline-white;
		}
	}

	.nextProject_nextProject__4_89z {
		h3 {
			color: v.$white;
		}

		.thumbnail_article__kkbMW {
			background-color: v.$purple-dark;
			border: 1px solid v.$white;
			box-shadow: v.$box-shadow-dm;
			color: v.$white;
		}

		a:focus-visible {
			outline: v.$outline-white;
		}
	}

	.slider_gallery__Abjzd, .img_div__cff4N, .img_div__e9MqW {
		background-color: v.$purple-dark;
		border: 1px solid v.$white;
		box-shadow: v.$box-shadow-dm;
	}

	.over_main__gvbNA > div > div:first-of-type {
		color: v.$white;

		a {
			color: v.$white;

			&:focus-visible {
				outline: v.$outline-white;
			}
		}
	}

	.radio_section__Sx6_K .radio_heroImg__VaC8j, .radio_section__Sx6_K form label {
		&:focus-visible {
			outline: v.$outline-white;
		}
	}
}

@media (min-width: 992px) { 
    .sec-h2 {
		@include v.f50;
	}

	.dark-mode {
		.experiences_section__nAflf {
			&:before {
				display: none;
			}

			div > ul::before {
				background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='white' stroke-width='6' stroke-dasharray='10%2c 30' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
			}
		}

		.thumbnail_article__kpdI4 h3, .thumbnail_article__kkbMW h3 {
			color: v.$black;
		}
	}
}