@use "../../../styles/variables.scss" as v;

.article {
    position: relative;
    width: 16.25rem;
    height: fit-content;
    border: 1px solid v.$black;
    border-radius: v.$radius-12;
    background-color: v.$white;
    box-shadow: v.$box-shadow-basic;

    &:hover .overlay img {
        transform: scale(1.1);
    }

    a {
        @include v.flex(column, 0.5rem);
        padding: 1.25rem 1.25rem 2rem 1.25rem;
        transition: v.$transition-basic;

        &:focus-visible {
            outline: none;
            @include v.focus-card;
        }
    }

    h3 {
        @include v.f22;
        margin-top: calc(0.75rem - 0.5rem);
        z-index: 1;
    }

    p {
        @include v.f14;
    }

    .overlay {
        order: -1;
        overflow: hidden;
        height: 14.5rem;
        border-radius: v.$radius-12;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: v.$radius-12;
            transition: v.$transition-basic;
        }
    }

    ul {
        @include v.flex(row, 0.75rem);
        flex-wrap: wrap;
        margin-top: calc(1.25rem - 0.5rem);

        li {
            @include v.tags-blue;
        }
    }


}

.saveBtn {
    top: calc(1.25rem * 2);
    right: calc(1.25rem * 2); 
}

@media (min-width: 992px) {
    .article {
        width: 29.5rem;

        a {
            padding: 1.25rem 3.25rem 2rem 3.25rem;
        }

        h3 {
            position: relative;
            margin-top: -2rem;
            margin-bottom: calc(1.25rem - 0.5rem);
            padding: 0.5rem 1.5rem;
            width: fit-content;
            background-color: v.$yellow;
            border-radius: v.$radius-12;
            box-shadow: 5px -5px 0px 0px v.$black;
            border: 2px solid v.$black;
        }

        p {
            @include v.f16;
        }

        .overlay {
            margin: 0px -2rem;
        }
    }
}