@use "../../../../../styles/variables.scss" as v;

.hero {
    position: relative;
    padding: 1rem 1.5rem;
    padding-top: calc(4.75rem + 1rem + 8px + 2rem);
    background-color: rgba(v.$pink, 0.15);

    &::before {
        @include v.divider-btm
    }
}

.content {
    position: relative;
    margin-top: 2rem;

    div {
        @include v.max-500;
        @include v.flex(column, 1.25rem);
        margin: 0px
    }

    h1 {
        @include v.f14;
        @include v.add-NaN;
        margin-bottom: calc(-1.25rem + 0.75rem);
        font-weight: normal;
        font-style: italic;
    }

    p:first-of-type {
        @include v.f58;
        line-height: 3.10rem;
        text-transform: uppercase;
        font-weight: bold;
    }
}

.gif {
    position: absolute;
    bottom: -60px;
    left: -40px;
    width: 14.25rem;
    height: 14.25rem;
}

.deksGif {
    @include v.position-center;
    left: calc(100% - 17rem / 2);
    width: 18rem;
    height: 18rem;
}


@media (min-width: 576px) { 
    .content {
        a {
            width: fit-content;
        }
    }
}

@media (min-width: 992px) { 
    .hero {
        padding-top: v.$padding-top-nav;
    }

    .content {
        padding-left: v.$media-padding-left;

        div {
            max-width: fit-content;
        }

        h1 {
            @include v.f18;
        }

        p {
            &:first-of-type {
                position: relative;
                width: 56.25rem;
                font-size: 6.25rem;
                line-height: 5rem;
            }

            &:last-of-type {
                width: 31.25rem;
                margin-bottom: 1.25rem;
            }
        }
    }

    .gif {
        display: none;
    }
}

@media (max-width: 992px) {
    .deksGif {
        display: none;
    }
}

@media (min-width: 1300px) { 
    .content {
       @include v.max-1300;
      // margin-top: 2rem;
    }

    .deksGif {
        left: calc(90% - 17rem / 2);
        width: 20rem;
        height: 20rem;
    }
}