@use "../styles/variables.scss" as v;

.bookmark {
    position: fixed;
    right: 1.25rem;
    bottom: 1.25rem;
    width: 4.5rem;

    img {
        width: 2rem;
        height: 2rem;
    }
}

.skipBtn {
    position: absolute;
    top: calc(4.5rem + 1.25rem * 3);
    left: -100%;
    padding: 0.75rem 1.25rem;
    background-color: v.$yellow;
    border-radius: v.$radius-12;
    box-shadow: 3px -3px 0px 0px v.$black;
    border: 2px solid v.$black;
    font-weight: bold;

    outline: v.$outline-basic;
    outline-offset: -0.5rem;
    transition: v.$transition-basic;

    &:focus-visible {
        left: 70px;
    }
}

.arrowDown {
    @include v.btn-primaire-shadow;
    position: fixed;
    width: 3rem;
    background-color: v.$white;
    border-radius: v.$radius-8;
    right: 1.25rem;
    bottom: 1.25rem;

    &:hover {
        background-color: v.$white;
    }

    &::before {
        @include v.bg-img("../../public/img/icons/arrow-down.svg");
        @include v.position-center;
        width: 2rem;
        aspect-ratio: 1/1;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .arrowDown {
        animation-name: jump;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
}

@keyframes jump {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-30px);
    }

    100% {
        transform: translateY(0px);
    }
}

@media (max-width: 992px) {
    .skipBtn {
        display: none;
    }
}

@media (min-width: 992px) { 
    .bookmark {
        right: 3.25rem;
        bottom: 2rem;
    }
}