@use "../../../../../../styles/variables.scss" as v;

.switch {
    position: relative;
    display: block;
    width: 4.5rem;
    height: 2.5rem;
    margin-left: auto;
    border: 1px solid v.$black;
    border-radius: 50px;
    background-color: v.$white;
    transition: v.$transition-basic;

    // Bron: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch
    &:has(input:checked) {
        span {
            background-color: v.$gray;
            -webkit-transform: translate(80%, -50%);
            -ms-transform: translate(80%, -50%);
            transform: translate(80%, -50%);

            &:hover {
                background-color: v.$purple;

                &:before {
                    filter:invert(0);
                }
            }

            &:before {
                background-image: url("../../../../../../../public/img/icons/moon.svg");
            }
        }
    }

    &:focus-visible {
        outline: v.$outline-basic;
        outline-offset: 0.5rem;
    }

    input {
        @include v.hide-input;
    }

    span {
        @include v.btn-primaire-shadow;
        position: absolute;
        top: 48%;
        left: -2px;
        transform: translateY(-50%);
        width: 2.75rem;
        background-color: v.$yellow;
        box-shadow: v.$box-shadow-3;
        -webkit-transition: v.$transition-basic;
        transition: v.$transition-basic;
        cursor: pointer;

        &:hover {
            background-color: v.$blue;

            &:before {
                filter:invert(1) brightness(2);
            }
        }

        &::before {
            @include v.bg-img("/img/icons/sun.svg");
            @include v.position-center;
            width: 1.25rem;
            aspect-ratio: 1/1;
            transition: v.$transition-basic;
        }
    }
}

@media (min-width: 992px) {
    .section {
        padding-right: v.$media-padding-right;
    }

    .switch {
        width: 6rem;
        height: 3.25rem;

        span {
            width: 3.75rem;

            &::before {
                width: 1.75rem;
            }
        }
    }
}

@media (min-width: 1300px) { 
    .section {
        @include v.max-1300
    }
}